<div class="ui comments" *ngIf="friends.length">
  <div class="ui comments" *ngFor="let friend of friends">
    <a class="avatar">
      <img src="../../assets/avatars/{{friend}}.png">
    </a>
    <div class="content">
      <a class="author"><b>{{friend}}</b></a>
      <div class="actions">
        <a routerLink="/friends/{{friend}}">Details</a>
      </div>
    </div>
  </div>
</div>


<div *ngIf="!friends.length">
  <h2>There are no friends yet.</h2>
</div>
