<div class="ui secondary pointing menu">
  <a class="item" routerLink="/feed" routerLinkActive="active">
    Home
  </a>
  <a class="item" routerLink="/messages" routerLinkActive="active">
    Messages
  </a>
  <a class="item" routerLink="/friends" routerLinkActive="active">
    Friends
  </a>
  <div class="right menu">
    <a class="ui item">
      Logout
    </a>
  </div>
</div>
<br>
