<form class="ui form">
  <div class="field">
    <label>What's on your mind?</label>
    <textarea name="body" placeholder="Penny for your thoughts" [(ngModel)]="tweetText"></textarea>
  </div>
  <button class="ui button primary" type="button" (click)="OnNewTweet()">Tweet</button>
</form>

<div class="ui comments">
  <div class="comment" *ngFor="let tweet of tweets">
    <a class="avatar">
      <img src="../../assets/avatars/{{tweet.avatar}}" >
    </a>
    <div class="content">
      <a class="author">{{tweet.author}}</a>
      <div class="metadata">
        <span class="date">{{tweet.date | date: 'hh:mm:ss dd/mm/yy'}}</span>
      </div>
      <div class="text">
        {{tweet.body}}
      </div>
      <div class="actions">
        <a class="reply">Reply</a>
        <a class="like"  (click)="OnFavorite(tweet)">
          <i class="like icon" [ngClass]='{liked: tweet.hasFavorited(userService.getCurrentUser())}'></i>{{tweet.favorites.length}} Favorites
        </a>
        <a class="retweet" (click)="OnRetweeted(tweet)">
          <i class="retweet icon" [ngClass]='{liked: tweet.hasRetweeted(userService.getCurrentUser())}'></i> {{tweet.retweets.length}} Retweets
        </a>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!tweets.length">
  <h2>There are no tweets!</h2>
</div>
